<li class="menu-item">
	<a class="menu-link" href="{% url 'person_list' %}"> ЗАКАЗЫ </a>
</li>
<li class="menu-item">
	<a class="menu-link" href="{% url 'adress_list' %}"> КАЛЕНДАРЬ </a>
</li>
<li class="menu-item">
	<a href="{% url 'organization_list' %}"> КЛИЕНТЫ </a>
</li>
<li class="menu-item">
	<a class="menu-link" href="{% url 'contract_list' %}"> CONTRACT </a>
</li>
<li class="menu-item">
	<a class="menu-link" href="{% url 'product_list' %}"> PRODUCT </a>
</li>
<li class="menu-item">
	<a class="menu-link" href="{% url 'payment_list' %}"> PAYMENT </a>
</li>
